<configuration>
    <conversionRule conversionWord="customMsg" converterClass="com.iit.project.cms.CMSServer.common.CustomMessageConverter" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>cms.log</file>
        <encoder>
            <!-- Use the custom converter in the pattern layout -->
            <pattern>%customMsg%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>
